*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background:#E8E8E6;
    font-family: "montserrat",sans-serif;
}
nav{
    background:#E8E8E6;
    height: 80px;
    width:100%;
    position: sticky;
    top: 0;
}
label .logo{
    font-size: 35px;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
   margin-right: 40%;

}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
    color:rgb(0, 0, 0);
    font-size:17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform:uppercase;
}
a.active, a:hover{
    background: #B5AED0;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (min-width:1000px){
    .logo-side {
        margin: 1.4% 0% 0% 7%;
        height: auto;
        max-width: 6%;
    
    }
    nav ul li a{
        font-size: 16px;
    }
    .hidden{
        display: none;
    }
    .Front{
        display: flex;
        padding: 3% ​0 3% 3%;
    }
    #logo-front{
        width: 24%;
        margin: 13% 0% 0% 6%;
        padding: 0% 0% 0% 0%;
        height: 63vh;
}
    .slgn{
    margin:0% 0% 0% 0%;
    padding:0% 0% 0% 0%;
    }
    .slgn h2{
        margin: -5% 0% 12% 70%;    
    }
    #Desktop-UI{
        width: 56%;
        margin: 5% 0% 0% 5%;
}   
@media (max-width:872px){
    .checkbtn{
        display: block;   
    }
    #logo-front{
        display: none;
    }
    #menu{
        position: fixed;
        width:100%;
        height:100vh;
        background: #E8E8E6;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a::before{
        position: absolute;
        content: ' ';
        left:0;
        bottom:0;
        height: 3px;
        width:100%;
        background: #B5AED0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s linear;
    }
    a:hover,a.active{
        background: none;
        color: #B5AED0;
    }
    #check:checked ~ ul{
        left: 0;

    }
    #Desktop-UI{
        display: none;
        }
}

}